- name: Download Prometheus
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz
    dest: /opt
    remote_src: yes

- name: Copy Prometheus service file
  ansible.builtin.template:
    src: prometheus.service
    dest: /etc/systemd/system/prometheus.service

- name: Copy Prometheus Server configuration
  ansible.builtin.template:
    src: prometheus.yml
    dest: /opt/prometheus-{{prometheus_version}}.linux-amd64/prometheus.yml

- name: Start and enable Prometheus service
  ansible.builtin.systemd_service:
      name: prometheus
      state: restarted
      enabled: yes
      daemon_reload: yes

- name: Import Grafana GPG key
  rpm_key:
    state: present
    key: https://rpm.grafana.com/gpg.key

- name: Install Grafana
  ansible.builtin.dnf:
    name: https://dl.grafana.com/grafana-enterprise/release/12.3.1/grafana-enterprise_12.3.1_20271043721_linux_amd64.rpm
    state: installed

- name: Start and enable Grafana service
  ansible.builtin.systemd_service:
      name: grafana-server
      state: restarted
      enabled: yes
