- name: Download Prometheus
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz
    dest: /opt
    remote_src: yes

- name: Copy Prometheus service file
  ansible.builtin.template:
    src: prometheus.service
    dest: /etc/systemd/system/prometheus.service

- name: Copy Prometheus Server configuration
  ansible.builtin.template:
    src: prometheus.yml
    dest: /opt/prometheus-{{prometheus_version}}.linux-amd64/prometheus.yml

- name: Copy Prometheus Alerts configuration
  ansible.builtin.template:
    src: alerts.yml
    dest: /opt/prometheus-{{prometheus_version}}.linux-amd64/alerts.yml

- name: Start and enable Prometheus service
  ansible.builtin.systemd_service:
      name: prometheus
      state: restarted
      enabled: yes
      daemon_reload: yes

- name: Wait for Prometheus port
  ansible.builtin.shell: sleep 5; netstat -lntp | grep 9090

- name: Import Grafana GPG key
  rpm_key:
    state: present
    key: https://rpm.grafana.com/gpg.key

#- name: Check Grafana service
#  ansible.builtin.systemd_service:
#    name: grafana-server
#    state: restarted
#    enabled: yes
#  register: out
#  ignore_errors: true

- name: Install Grafana
  ansible.builtin.dnf:
    name: https://dl.grafana.com/grafana-enterprise/release/12.3.1/grafana-enterprise_12.3.1_20271043721_linux_amd64.rpm
    state: installed
  when: out.status.ActiveState != "active"

- name: Start and enable Grafana service
  ansible.builtin.systemd_service:
      name: grafana-server
      state: restarted
      enabled: yes
  when: out.status.ActiveState != "active"

- name: Import Grafana dashboard foo
  community.grafana.grafana_dashboard:
    grafana_url: http://172.31.28.79:3000
    grafana_api_key: glsa_vsVzPHhmFhjSwZWqfj19iMCJIq2rwjzA_a45be7d2
    state: present
    commit_message: Updated by ansible
    overwrite: true
    path: "{{ lookup('ansible.builtin.file', 'grafana-expense.json') }}"

- name: Download Alert Manager
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/alertmanager/releases/download/v{{ alertmanager_version }}/alertmanager-{{ alertmanager_version }}.linux-amd64.tar.gz
    dest: /opt
    remote_src: yes

- name: Copy Alert Manager service file
  ansible.builtin.template:
    src: alertmanager.service
    dest: /etc/systemd/system/alertmanager.service

- name: Copy Alert Manager configuration
  ansible.builtin.template:
    src: alertmanager.yml
    dest: /opt/alertmanager-{{ alertmanager_version }}.linux-amd64/alertmanager.yml


- name: Start and enable Alert Manager service
  ansible.builtin.systemd_service:
    name: alertmanager
    state: restarted
    enabled: yes
    daemon_reload: yes

- name: Wait for Alert Manager port
  ansible.builtin.shell: sleep 5; netstat -lntp | grep 9093